@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fundo1:#121212;
    --borda1:#292929;
    --texto1:#965DC9;
    --texto2:#E6E6E6;
    --texto3:#A3A3A3;
    --erro:#d62a1e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-optical-sizing: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--fundo1);
}

.caixa_geral_abrir_sistema {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    width: 25vw;
    background-color: var(--fundo1);
    border: inset 4px;
    border-radius: 25px;
    border-color: var(--borda1);
    border-style: solid;
    padding: 40px 0 40px 0;
}

.caixa_geral_abrir_sistema_textos1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.caixa_geral_abrir_sistema_textos2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixa_geral_abrir_sistema_blocos, .caixa_geral_abrir_sistema_blocos form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.caixa_geral_abrir_sistema_textos3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.caixa_geral_abrir_sistema_textos4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.caixa_geral_abrir_sistema h1 {
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
    color: var(--texto1);
}

.caixa_geral_abrir_sistema h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--texto2);
}

.caixa_geral_abrir_sistema h3 {
    font-size: 25px;
    font-weight: bold;
    color: var(--texto3);
}

.caixa_geral_abrir_sistema input {
    height: 55px;
    width: 350px;
    background-color: var(--fundo1);
    border: inset 4px;
    border-radius: 15px;
    border-color: var(--borda1);
    border-style: solid;
    font-size: 20px;
    font-style: normal;
    color: var(--texto2);
    padding-left: 10px;
}

.caixa_geral_abrir_sistema input:focus {
    outline: none;
    font-style: italic;
    border-color: var(--texto1);
}

.caixa_geral_abrir_sistema input::selection {
    background-color: var(--texto1);
}

.caixa_geral_abrir_sistema button {
    height: 55px;
    width: 350px;
    background-color: var(--texto1);
    border: none;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    color: var(--texto2);
    transition: .2s;
}

.caixa_geral_abrir_sistema button:hover {
    font-size: 30px;
}

.caixa_geral_abrir_sistema button:active {
    font-size: 20px;
}

.caixa_geral_abrir_sistema a {
    font-size: 20px;
    font-weight: bold;
    color: var(--texto1);
}

.caixa_geral_abrir_sistema h4 {
    font-size: 20px;
    font-weight: bold;
    color: var(--texto2);
}

.caixa_geral_abrir_sistema h5 {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: var(--erro);
}

@media screen and (max-width: 1368px) {

    .caixa_geral_abrir_sistema {
        height: 85vh;
        padding: 20px 0 20px 0;
    }

    .caixa_geral_abrir_sistema_textos1 {
        gap: 0px;
    }

    .caixa_geral_abrir_sistema h1 {
        font-size: 70px;
    }

    .caixa_geral_abrir_sistema h2 {
        font-size: 20px;
    }

    .caixa_geral_abrir_sistema h3 {
        font-size: 15px;
    }

    .caixa_geral_abrir_sistema input {
        height: 40px;
        width: 350px;
        font-size: 15px;
    }

    .caixa_geral_abrir_sistema button {
        height: 40px;
        width: 350px;
        font-size: 20px;
    }

    .caixa_geral_abrir_sistema button:hover {
        font-size: 25px;
    }

    .caixa_geral_abrir_sistema button:active {
        font-size: 15px;
    }

    .caixa_geral_abrir_sistema a, .caixa_geral_abrir_sistema h4 {
        font-size: 15px;
    }
}