<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <title>Rôxho - Esqueceu a Senha</title>
</head>
<body>
    <div class="caixa_sistema_login">
        <h1>Rôxho</h1>
        <div class="separador_caixa_sistema_login1">
            <h2>Esqueceu né!</h2>
            <h3>Faça sua solicitação!</h3>
        </div>
        <form method="POST" action="/fazer_esqueceu_senha">
            <div class="separador_caixa_sistema_login2">
                <input type="text" placeholder="Nome" name="entrada_nome_validar">
                <input type="text" placeholder="Email" name="entrada_email_validar">
                <button type="submit">Solicitar</button>
            </div>
            <div class="separador_caixa_sistema_login3">
                <h4>Não tem uma conta?</h4>
                <a href="/registro">Registre-se!</a>
            </div>
            <div class="separador_caixa_sistema_login3">
                <h4>Já tem uma conta?</h4>
                <a href="/login">Logar-se!</a>
            </div>
            {% if erro %}
                <h1 class="erro_sistema_login">{{ erro }}</h1>
            {% endif %}
        </form>
    </div>
</body>
</html>