<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <title>Rôxho</title>
</head>
<body>
    <div class="caixa_geral_abrir_sistema">
        <div class="caixa_geral_abrir_sistema_textos1">
            <h1>Rôxho</h1>
            <div class="caixa_geral_abrir_sistema_textos2">
                <h2>Bem-Vindo(a) de volta!</h2>
                <h3>Faça seu login!</h3>
            </div>
        </div>
        <div class="caixa_geral_abrir_sistema_blocos">
            <form method="POST" action="/erro_no_login">
                <input type="text" placeholder="Email" name="entrada_email_validar">
                <input type="password" placeholder="Senha" name="entrada_senha_validar">
                <button type="submit">Login</button>
            </form>
            <a href="/esqueci_senha" class="a1">Esqueceu a senha?</a>
            {% if erro %}
            <h5>{{ erro }}</h5>
            {% endif %}
        </div>
        <div class="caixa_geral_abrir_sistema_textos3">
            <h4>Não tem uma conta?</h4>
            <a href="/registro">Registre-se!</a>
        </div>
    </div>
</body>
</html>