<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <title>Rôxho</title>
</head>
<body>
    <div class="caixa_geral_abrir_sistema">
        <div class="caixa_geral_abrir_sistema_textos1">
            <h1>Rôxho</h1>
            <div class="caixa_geral_abrir_sistema_textos2">
                <h2>Bem-Vindo(a)!</h2>
                <h3>Faça seu registro!</h3>
            </div>
        </div>
        <div class="caixa_geral_abrir_sistema_blocos">
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Senha">
            <input type="password" placeholder="Repetir Senha">
            <button>Registrar</button>
        </div>
        <div class="caixa_geral_abrir_sistema_textos3">
            <h4>Já tem uma conta?</h4>
            <a href="/login">Logar-se!</a>
        </div>
    </div>
</body>
</html>