<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <title>Rôxho</title>
</head>
<body>
    <div class="sistema_barra_navegacao">
        <a href="/sistema_inicio" class="navegacao_atual">Início</a>
        <a href="/sistema_funcionarios">Funcionários</a>
        <a href="/sistema_clientes">Clientes</a>
        <a href="/sistema_produtos">Produtos</a>
        <a href="/sistema_fornecedores">Fornecedores</a>
        <a href="/sistema_estoque">Estoque</a>
        <a href="/sistema_configuracoes">Configurações</a>
        <a href="/login">Sair</a>
    </div>
    <div class="sistema_restante_site">

    </div>
</body>
</html>